.optionListMain {
  position: absolute;
  top: calc(100% + 5px);
  left: 0px;
  width: 100%;
  color: var(--reactFacetedSearchFontColor, black);
  border-top: var(--reactFacetedSearchOptionsBorder, 2px solid gainsboro);
  border-left: var(--reactFacetedSearchOptionsBorder, 2px solid gainsboro);
  border-bottom: var(--reactFacetedSearchOptionsBorder, 2px solid darkgray);
  border-right: var(--reactFacetedSearchOptionsBorder, 2px solid darkgray);
  border-radius: 4px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  z-index: 999;
  background: var(--reactFacetedSearchBackgroundColor, rgb(255, 255, 255));
}

.optionListMain ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.optionListOption {
  padding-left: 10px;
  padding-right: 5px;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.optionListActiveOption {
  background: var(--reactFacetedSearchActiveOption, lightgray);
}

.optionListCategory {
  font-weight: bold;
  font-size: x-small;
  padding-left: 5px;
  padding-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.optionStaticList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}

.optionStaticItem {
  padding-left: 10px;
  text-align: left;
}

.optionStaticItem:hover {
  color: var(--reactFacetedSearchItemHover, gray);
}

.optionStaticHeader {
  margin-top: 10px;
  font-weight: bold;
  font-size: x-small;
}

.optionStaticHeaderMenu {
  position: relative;
  margin-top: 10px;
  font-weight: bold;
  font-size: x-small;
}

.optionStaticHeaderMenu:hover {
  color: var(--reactFacetedSearchItemHover, gray);
}

.optionsHelp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-small;
  width: calc(100% - 10px);
  border-bottom: 1px solid darkgray;
  padding-left: 5px;
  padding-right: 5px;
}

.helpKeys {
  width: 80px;
}

.helpKeysb {
  width: 60px;
}

.optionSelectMultiple {
  position: absolute;
  left: 40%;
}

.optionsStaticHeaders {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: lightgray;
}

.optionsStaticHeadersItem {
  flex-grow: 1;
  text-align: center;
  border-top: var(--reactFacetedSearchOptionsBorder, 2px solid gainsboro);
  border-left: var(--reactFacetedSearchOptionsBorder, 2px solid gainsboro);
  border-bottom: var(--reactFacetedSearchOptionsBorder, 2px solid black);
  border-right: var(--reactFacetedSearchOptionsBorder, 2px solid black);
  min-width: 100px;
  display: flex;
  position: relative;
  font-size: x-small;
}

.optionsStaticHeadersItem:hover {
  background-color: rgb(240, 240, 240);
}

.optionsStaticHeadersItemText {
  flex-grow: 1;
}

.optionsStaticHeadersIcon {
  padding-right: 5px;
}

.optionsStaticSubItemsList {
  position: fixed;
  z-index: 999;
  top: 100%;
  border-top: var(--reactFacetedSearchOptionsBorder, 2px solid gainsboro);
  border-left: var(--reactFacetedSearchOptionsBorder, 2px solid gainsboro);
  border-bottom: var(--reactFacetedSearchOptionsBorder, 2px solid darkgray);
  border-right: var(--reactFacetedSearchOptionsBorder, 2px solid darkgray);
  background: var(--reactFacetedSearchBackgroundColor, rgb(255, 255, 255));
}