.matcherViewMain {
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  background: var(--reactFacetedSearchBackgroundColor, rgb(255, 255, 255));
}

.matcherViewToolTip {
  position: absolute;
  left: 0px;
  width: max-content;
  background: var(--reactFacetedSearchBackgroundColor, rgb(255, 255, 255));
  border: var(--reactFacetedSearchBackgroundColor, 1px solid rgb(204, 204, 204));
  border-radius: 4px;
}

.deleteIcon {
  color: var(--reactFacetedSearchIconColor, black);
  height: 100%;
}

.deleteIcon:hover {
  color: var(--reactFacetedSearchIconHoverColor, rgb(140, 140, 140));
}

.matcherViewContainer {
  display: flex;
  flex-direction: column;
}

.matcherViewWarning {
  background: var(--reactFacetedSearchWarningBackgroundColor, orange);
}

.matchViewCategory {
  font-size: xx-small;
}