.reactFacetedSearchMain {
  position: relative;
  display: flex;
  border: var(--reactFacetedSearchBorder, 1px solid rgb(204, 204, 204));
  border-radius: 4px;
  background: var(--reactFacetedSearchBackgroundColor, rgb(255, 255, 255));
  color: var(--reactFacetedSearchFontColor, black);
}

.reactFacetedSearchFlow {
  display: flex;
  flex-flow: wrap;
  flex-grow: 1;
}

.reactFacetedSearchClearIcon {
  color: var(--reactFacetedSearchIconColor, black);
  display: flex;
  align-items: center;
  padding-left: 4px;
}

.reactFacetedSearchClearIcon:hover {
  color: var(--reactFacetedSearchIconHoverColor, rgb(140, 140, 140));
}

.reactFacetedSearchSearchIcon {
  align-self: center;
  padding-right: 4px;
}

.defaultMatcherEdit {
  flex-grow: 1;
  display: flex;
  align-self: end;
}